<h1>Basic Information</h1>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">Name of the Trip/Hike : </label>
    <label class="col-sm-6"><%= Event.is_empty(@event.trip_name) %></label>
</div>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">Short Description of Trip/Hike : </label>
    <label class="col-sm-6"><%= Event.is_empty(@event.trip_description) %></label>
</div>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">Location : </label>
    <label class="col-sm-6"><%= Event.is_empty(@event.trip_location) %></label>
</div>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">Contact Person : </label>
    <label class="col-sm-6"><%= Event.is_empty(@event.contact_person_name) %></label>
</div>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">Contact Person Mobile Number : </label>
    <label class="col-sm-6"><%= Event.is_empty(@event.contact_person_mobile) %></label>
</div>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">Contact Person Emailid : </label>
    <label class="col-sm-6"><%= Event.is_empty(@event.contact_person_email) %></label>
</div>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">Start Date : </label>
    <label class="col-sm-6"><%= @event.start_date.strftime("#{@event.end_date.day.ordinalize} %B %Y") unless @event.start_date.nil? %></label>
</div>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">End Date : </label>
    <label class="col-sm-6"><%= @event.end_date.strftime("#{@event.end_date.day.ordinalize} %B %Y") unless @event.end_date.nil? %></label>
</div>
<div class="form-group">
    <label class="col-sm-6" style="font-weight: normal;">Maximum Participant : </label>
    <label class="col-sm-6"><%= Event.is_empty(@event.max_participant) %></label>
</div>