<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="dashboard.html">Hiking Manager</a>
  </div>
  <a href="<%= root_path %>" class="btn btn-danger " style="margin-top: 13px; margin-left: 20px;">Back to Dashboard</a>
  <div style="color: #fff; margin-top:0px; display: inline-block; ">Trip name : Cascade Hut Return</div>
  <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;">Welcome User &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Logout</a> </div>
</nav>

<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <img src="/assets/find_user.png" class="user-image img-responsive"/>
      </li>
      <li><a class=""  href="<%= basic_info_events_path %>">Step 1 - Add Basic Information</a></li>
      <li><a class=""  href="<%= emergency_info_event_path(@event) %>">Step 2 - Emergency Info</a></li>
      <li><a class=""  href="<%= picture_plan_event_path(@event) %>">Step 3 - Big Picture Planning</a></li>
      <li><a class=""  href="<%= plan_itinerary_event_path(@event) %>">Step 4 - Itinerary</a></li>
      <li><a class="active-menu"  href="<%= gallery_event_path(@event) %>">Step 5 - Gallery</a></li>
      <li><a class=""  href="step6.html">Step 6 - Other Information</a></li>
      <li><a class=""  href="step7.html">Step 7 - Review and Confirm</a></li>
    </ul>
  </div>
</nav>

<!-- /. NAV SIDE  -->
<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2>Step 5 - Gallery</h2>
        <h5>Images collections</h5>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />

<form role="form" class="col-xs-8" action="step6.html">
    <div class="form-group">
        <label>Image 1 - Full URL</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>Image 2 - Full URL</label>
        <input class="form-control" />
    </div>
    <div class="form-group">
        <label>Image 3 - Full URL</label>
        <input class="form-control" />
    </div>
    <div class="col-xs-12" style="padding: 0px; text-align: right;">
        <button  type="submit" class="btn btn-primary">Save and goto Next Step</button>
    </div>
</form>
    <%= render 'help_text' %>
  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->