<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="dashboard.html">Hiking Manager</a>
  </div>
  <a href="<%= root_path %>" class="btn btn-danger " style="margin-top: 13px; margin-left: 20px;">Back to Dashboard</a>
  <div style="color: #fff; margin-top:0px; display: inline-block; ">Trip name : Cascade Hut Return</div>
  <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;">Welcome User &nbsp; <a href="#" class="btn btn-danger square-btn-adjust">Logout</a> </div>
</nav>

<!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li class="text-center">
        <img src="/assets/find_user.png" class="user-image img-responsive"/>
      </li>
      <li><a class=""  href="step1.html">Step 1 - Add Basic Information</a></li>   
      <li><a class=""  href="step2.html">Step 2 - Emergency Info</a></li>   
      <li><a class="active-menu"  href="step3.html">Step 3 - Big Picture Planning</a></li> 
      <li><a class=""  href="step4.html">Step 4 - Itinerary</a></li> 
      <!--<li>
          <a href="step5.html">Step 5 - Itinerary<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
              <li><a href="step5_1.html">Day 1</a></li>
              <li><a href="step5_2.html">Day 2</a></li>
              <li><a href="step5_3.html">Day 3</a></li>
          </ul>
      </li>-->
      <li><a class=""  href="step5.html">Step 5 - Gallery</a></li>
      <li><a class=""  href="step6.html">Step 6 - Other Information</a></li>
      <li><a class=""  href="step7.html">Step 7 - Review and Confirm</a></li>
    </ul>
  </div>
</nav>

<!-- /. NAV SIDE  -->
<div id="page-wrapper" >
  <div id="page-inner">
    <div class="row">
      <div class="col-md-12">
        <h2>Step 1 - Add Basic Information</h2>
        <h5>Name of the Trip/Hike</h5>
      </div>
    </div>
    <!-- /. ROW  -->
    <hr />

    <%= form_for(@picture_plan, url: save_picture_plan_event_path(@event), html: {class: "col-xs-8"}) do |f| %>

      <div class="form-group">
        <label>Trip Goals:</label>
        <%= f.text_area :trip_goal, class: "form-control", rows: "3" %>
      </div>
      <div class="form-group" >
        <label>Planning Resources:</label>
        <%= f.text_area :planning_resources, class: "form-control", rows: "3" %>
      </div>
      <div class="form-group">
        <label>Transport time to trailhead</label>
        <%= f.text_area :transport_time_to_trailhead, class: "form-control", rows: "3" %>
      </div>
      <div class="form-group col-xs-6" style="padding-left: 0px;">
          <label>Direction out</label>
          <%= f.text_field :direction_out, class: "form-control" %>
      </div>
      <div class="form-group col-xs-6" style="padding-right: 0px;">
          <label>Permits/Fees</label>
          <%= f.datetime_field :fee, class: "form-control" %>
      </div>
      <div class="col-xs-12" style="padding-left: 0px;padding-right: 0px;">
        <div class="form-group col-xs-5" style="padding-left: 0px;" >
          <label>Select Parameter which you want</label>
        </div>
        <div class="form-group col-xs-5" >
          <label>Value of selected Parameter</label>
        </div>
      </div>
      <div class="col-xs-12" id="dynamic-container" style="padding-left: 0px;padding-right: 0px;">
        <div id="clonethis">
          <select class="form-control">
            <option>Condition Cautions</option>
            <option>Animal Cautions</option>
            <option>Mosquito/fly issues</option>
            <option>Plant Cautions</option>
            <option>Supermarket</option>
            <option>Outdoors Store</option>
            <option>Stove Fuel</option>
          </select>
        </div>
        </div>
        <div class="form-group col-xs-5" >
          <input class="form-control txt" />
        </div>
        <a href="javascript:void(0);" class="remove btn btn-danger btn-sm col-xs-2">Remove</a>
      </div>
      <div class="col-xs-12" style="padding: 0px; text-align: right;">
          <button  type="submit" class="btn btn-primary">Save and goto Next Step</button>
      </div>
    <% end %>
    <%= render 'help_text' %>
  </div>
  <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->